<%- include('partials/header') -%>

<h1 class="title">All flashes</h1>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row gy-10">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <a href="">
            <img class="card-img-top" src="/img/inferno.jpg" alt="">
          </a>
          <div class="card-body">
            <p class="card-text">boiler to stairs</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card md-4 box-shadow">
          <a href="">
            <img class="card-img-top" src="/img/inferno.jpg" alt="">
          </a>
          <div class="card-body">
            <p class="card-text">boiler to stairs</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card md-4 box-shadow">
          <a href="">
            <img class="card-img-top" src="/img/inferno.jpg" alt="">
          </a>
          <div class="card-body">
            <p class="card-text">boiler to stairs</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card md-4 box-shadow">
          <a href="">
            <img class="card-img-top" src="/img/inferno.jpg" alt="">
          </a>
          <div class="card-body">
            <p class="card-text">boiler to stairs</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card md-4 box-shadow">
          <a href="">
            <img class="card-img-top" src="/img/inferno.jpg" alt="">
          </a>
          <div class="card-body">
            <p class="card-text">boiler to stairs</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%- include('partials/footer') -%>